.container{
    max-width: 984px;
    margin: 0;
    padding: 0;
}

h1{
    margin-right: 50px;
}

.dropdown-toggle::after{
    content: none;
}

.leftBlock{
    width: 320px;
    padding-left: 32px;
}


/*Card*/
.cardBlock{
    
    margin-right: 32px;
    .commentNum{
      font-size: 12px;
      line-height: 24px;
      color: $gray-600;
      margin-bottom: 8px;
      text-align: right;
    }
    .card-body{
      padding: 0;
      margin: 0;
      ul{
        padding:12px 17px;
      }
  
      .bottomLink {
        margin: 0;
        padding: 0;
      }
    }
    
    .card-title{
      font-size:12px;
      line-height: 24px;
    }
    
  
    .comment{
      width: 488px;
    }
  
    .list-group .list-group-item {
      .userPhoto{
        @include userPhoto;
      }
  
      .f12L24{
        @include f12L24;
      }
  
      .f14L21{
        @include f14L21;
      }

      a{
        border:1px solid $gray-400;
        border-radius: 2px;
        padding:8px 12px ;
        display: block;
        
        background-color: $gray-100;
        
      }
      
  
      .iconRotat{
        transform: rotate(90deg);
      }
  
      .liBullet{
        list-style-type: disc;
        li{
          margin-left:40px;
        
        }
        
      }
  
    }
  
    
    
  }